.home-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.home-page-container button {
  // top, right, bottom, left
  margin: 2rem 2rem 0 2rem;
}
